.banner {
	margin: 0px auto;
	border-radius: 10px;
	border: 1px solid #000;
	height: 147px;
	width: 950px;
}

.content a, .content a:visited {
	color: #00f;
}

.content a:hover {
	color: #08b;
}

.container, .content {
	border-radius: 10px;
	border: 1px solid #000;
	margin: 0px auto;
	padding: 4px;
}

.break {
	height: 25px;
}

.hbreak {
	height: 15px;
}

.superbreak {
	height: 45px;
}

.adminRow {
	display: block;
	padding: 4px;
	vertical-align: top !important;
	margin-left: 2%;
}

.adminContent {
	font-size: 12px;
	vertical-align: top !important;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 2px; 
}

.adminSection {
	display: inline-block;
	width: 22%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 2px;
	vertical-align: top;
	background: #ddd;
}

.adminTitle {
	text-transform: uppercase;
}

.nav {
	border-bottom: 1px solid #000;
	border-radius: 5px;
	height: 50px;
	padding: 4px;
}

.navItem {
	border-radius: 5px;
	border: 2px outset;
	padding: 4px;
	font-size: 15px;
	font-weight: bold;
	display: inline;
	cursor: pointer;
	color: #ddd;
}

.listItem {
	border-radius: 5px;
	border: 2px solid #000;
	padding: 2px;
	width: 80%;
	background: #ddd;
}

.item {
	font-size: 12px !important;
	font-weight: normal !important;
	width: 650px;
	margin: 0px auto;
	display: none;
	height: 350px;
	overflow-y: auto;
	border: 1px solid #000 !important;
	background: #fff;
}

.itemName {
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}

.skinItem {
	border: 1px outset #000;
	width: 750px;
	background: #fff;
	padding: 4px;
	border-radius: 5px;
}