RewriteEngine On
RewriteRule ^\/?create(.*)\/?$ ?p=create$1 [NC]
RewriteRule ^\/?edit(.*)\/(.*)$ ?p=edit$1&id=$2 [NC]
RewriteRule ^\/?delete(.*)\/(.*)$ ?p=delete$1&id=$2 [NC]
RewriteRule ^\/?meta\/?$ ?p=meta [NC]
RewriteRule ^\/?backups\/?$ ?p=backups [NC]
RewriteRule ^\/?backups\/(.*)$ ?p=backup$1 [NC]
RewriteRule ^\/?security\/?$ ?p=security [NC]
RewriteRule ^\/?settings\/?$ ?p=config [NC]
RewriteRule ^\/?config\/?$ ?p=config [NC]
RewriteRule ^\/?pages\/?$ ?p=pages [NC]
RewriteRule ^\/?categories\/?$ ?p=pagecategories [NC]
RewriteRule ^\/?menus\/?$ ?p=menus [NC]
RewriteRule ^\/?media\/?$ ?p=media [NC]
RewriteRule ^\/?modules\/?$ ?p=modules [NC]
RewriteRule ^\/?addupdate\/?$ ?p=addupdate [NC]
RewriteRule ^\/?shop\/?$ ?p=shop [NC]
RewriteRule ^\/?consoles\/?$ ?p=consoles [NC]
RewriteRule ^\/?files\/?$ ?p=browsefiles [NC]
RewriteRule ^\/?tasks\/?$ ?p=tasks [NC]
RewriteRule ^\/?import\/?$ ?p=import [NC]
RewriteRule ^\/?export\/(.*)$ ?p=export&id=$1 [NC]
RewriteRule ^\/?browsefiles\/?$ ?p=browsefiles [NC]
RewriteRule ^\/?mobile\/?$ ?p=mobile [NC]
RewriteRule ^\/?recyclebin\/?$ ?p=bin [NC]
RewriteRule ^\/?htaccess\/?$ ?p=htaccesseditor [NC]
RewriteRule ^\/?banned\/?$ ?p=bannedusers [NC]
RewriteRule ^\/?ban\/?$ ?p=banuser [NC]
RewriteRule ^\/?ban\/([0-9]*)\/?$ ?p=banuser&id=$1 [NC]
RewriteRule ^\/?unban\/([0-9]*)$ ?p=unbanuser&id=$1 [NC]
RewriteRule ^\/?recyclepage\/(.*)$ ?p=recyclepage&id=$1 [NC,L]