.titlebg { background: url("http://i115.photobucket.com/albums/n301/pheonixflames_18/CTGradient2.png"); height: 24px; }
.catbg { background: url("http://i115.photobucket.com/albums/n301/pheonixflames_18/GradientforCT.png"); height: 24px; }
input, textarea { background: #000000; color: #dddddd; border: 1px dashed #ff0000; font-size: 14px; }
select, option { background: #000000; color: #dddddd; }