RewriteEngine On

RewriteRule ^\/?about\/?$ index.php?p=about [NC]
RewriteRule ^\/?contact\/?$ index.php?p=contact [NC]
RewriteRule ^\/?services\/?$ index.php?p=services [NC]
RewriteRule ^\/?policy\/?$ index.php?p=policy [NC]
RewriteRule ^\/?hire-me\/?$ index.php?p=hire-me [NC]
RewriteRule ^\/?hireme\/?$ index.php?p=hire-me [NC]
RewriteRule ^\/?hosting\/?$ index.php?p=hosting [NC]
RewriteRule ^\/?how-it-works\/?$ index.php?p=how-it-works [NC]
RewriteRule ^\/?howitworks\/?$ index.php?p=how-it-works [NC]
RewriteRule ^\/?esp\/?$ index.php?p=xsp [NC]
RewriteRule ^\/?portfolio\/?$ index.php?p=portfolio [NC]
RewriteRule ^\/?rewards\/?$ index.php?p=rewards [NC]
RewriteRule ^\/?messages\/?$ index.php?p=messages [NC]
RewriteRule ^\/?viewmessage\/?([0-9]*)$ index.php?p=viewmessage&id=$1 [NC]
RewriteRule ^\/?login\/?$ index.php?p=login [NC]
RewriteRule ^\/?logout\/?$ index.php?p=logout [NC]
RewriteRule ^\/?home\/?$ index.php [NC,L]